.sobre {
    padding: 5.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
        display: block;
        text-align: center;
    }

    img {
        width: 100%;
        border-radius: 10px;
    }

    &__container {
        padding: 0 24px;

        p {
            padding-bottom: 12px;
        }
    }
}