@use 'variaveis';
@use 'hero';
@use 'extras';
@use 'sobre';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

body {
    background-color:variaveis.$corFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoSecundario;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoPrincipal;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px)
    }
}

.text {
    @include text();

    @media (max-width: 768px) {
        @include text(13px)
    }
}

.text--small {
    @include text(14px);

    @media (max-width: 768px) {
        @include text(11px)
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px)
    }
}

.title {
    @include title();

    @media (max-width: 768px) {
        @include title(24px)
    }
}

.title--small {
    @include title(36px);

    @media (max-width: 768px) {
        @include title(22px)
    }
}